pipeline/SmartFoodsCustomerELTBlobToSql.json
{
	"name": "SmartFoodsCustomerELTBlobToSql",
	"properties": {
		"activities": [
			{
				"name": "SmartFoodsCustomerELT",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "MaxCustomerKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "SmartFoodsCustomerELT",
						"type": "DataFlowReference",
						"parameters": {
							"MaxCustomerKey": {
								"value": "@activity('MaxCustomerKey').output.firstRow.maxSK",
								"type": "Expression"
							},
							"BatchDt": {
								"value": "'@{pipeline().parameters.BatchDt}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"SmartFoodsCustomerStagingBlob": {
								"folder": "customer",
								"filename": {
									"value": "smartfoods_customers_@{replace(pipeline().parameters.BatchDt,'-','')}",
									"type": "Expression"
								},
								"filetype": "csv"
							},
							"SmartFoodsCustomerSQLDW": {
								"schema": "SmartFoodsDW",
								"table_name": "customerdim"
							},
							"DBSink": {
								"schema": "SmartFoodsDW",
								"table_name": "customerdim"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "MaxCustomerKey",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select coalesce(max(CustomerKey),0) maxSK from SmartFoodsDW.customerdim",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WWISqlOLTP",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SmartFoodsDW",
							"table_name": "customerdim"
						}
					}
				}
			}
		],
		"parameters": {
			"BatchDt": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-08-06T03:36:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}